<!-- Featured Image -->
<div class="featured-image" style="background-image: url(images/featured-image/about.jpg);"></div>

<!-- Content -->
<section class="container padding-top-3x padding-bottom-3x">
    <h1 ng-bind="text[locale].about">About</h1>
    <div class="row padding-top">
        <div class="padding-bottom">
            <p class="space-top" ng-bind="text[locale].content">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
        </div><!-- .col-md-5.col-sm-6 -->
    </div><!-- .row -->

</section><!-- .container -->

<!--&lt;!&ndash; Video Popup &ndash;&gt;-->
<!--<div class="fw-section padding-top-3x padding-bottom-3x" style="background-image: url(images/video_bg.jpg);">-->
    <!--<div class="container padding-top-3x padding-bottom-3x text-center">-->
        <!--<div class="space-top-3x space-bottom">-->
            <!--&lt;!&ndash; Add ".light-skin" class to alter appearance. &ndash;&gt;-->
            <!--<a href="https://player.vimeo.com/video/135832597?color=77cde3&title=0&byline=0&portrait=0" class="video-popup-btn">-->
                <!--<i class="material-icons play_arrow"></i>-->
            <!--</a>-->
        <!--</div>-->
        <!--<p class="space-bottom-2x">M-Store - your reliable partner.</p>-->
    <!--</div>-->
<!--</div>&lt;!&ndash; .fw-section &ndash;&gt;-->