<style>
    .angular-google-map-container { height: 480px; }
</style>

<ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>

<!-- Container -->
<section class="container space-top-3x">
    <h1 ng-bind="text[locale].contacts">Contacts</h1>
    <div class="row padding-top">
        <div class="padding-bottom-2x">
            <ul class="list-icon">
                <li>
                    <i class="material-icons location_on"></i>
                    45 Park Avenue, Apt. 303, New York, NY 10016, USA
                </li>
                <li>
                    <i class="material-icons phone"></i>
                    001 (917) 555-4836
                </li>
                <li>
                    <i class="material-icons phone_iphone"></i>
                    001 (800) 333-6578
                </li>
                <li>
                    <i class="material-icons email"></i>
                    <a href="mailto:info@m-store.com">contacts@roseyarn.com</a>
                </li>
                <li>
                    <i class="socicon-skype"></i>
                    <a href="#">skype_id</a>
                </li>
            </ul><!-- .list-icon -->
            <p><span ng-bind="text[locale].working_hours">Working hours</span>: <span class="text-gray">10am - 8pm, Mn - St</span></p>
            <span class="display-inline" style="margin-bottom: 6px;"><span ng-bind="text[locale].social_accounts">Social accounts</span>: &nbsp;&nbsp;</span>
            <div class="social-bar display-inline">
                <a href="#" class="sb-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                    <i class="socicon-facebook"></i>
                </a>
                <a href="#" class="sb-google-plus" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google+">
                    <i class="socicon-googleplus"></i>
                </a>
                <a href="#" class="sb-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                    <i class="socicon-twitter"></i>
                </a>
                <a href="#" class="sb-instagram" data-toggle="tooltip" data-placement="top" title="" data-original-title="Instagram">
                    <i class="socicon-instagram"></i>
                </a>
            </div><!-- .social-bar -->
        </div><!-- .col-sm-5 -->
    </div><!-- .row -->
</section><!-- .container -->