
<!-- Site Logo -->
<a href="/" class="site-logo visible-desktop">
    <img src="images/logo.png">
</a><!-- site-logo.visible-desktop -->
<a href="/" class="site-logo visible-mobile">
    <img src="images/logo.png">
</a><!-- site-logo.visible-mobile -->
<div class="lang-switcher">
    <div class="lang-toggle">
        <img ng-src="{{languages[locale].icon}}" alt="{{languages[locale].alt}}">
        <i class="material-icons arrow_drop_down" style="color: white"></i>
        <ul class="lang-dropdown">
            <li ng-repeat="lang in languages | toArray | filter:{$key: '!' + locale}">
                <a data-href="#" ng-click="methods.changeLanguage(lang.$key)"><img ng-src="{{lang.icon}}" alt="{{lang.alt}}">{{lang.$key}}</a>
            </li>
        </ul>
    </div>
</div>

<!-- Main Navigation -->
<!-- Control the position of navigation via modifier classes: "text-left, text-center, text-right" -->
<nav id="main-navigation" class="main-navigation">
    <ul class="menu">
        <li ui-sref-active="current-menu-item"><a ng-click="methods.closeMenu()" ui-sref="root.home" ng-bind="text[locale].home">Home</a></li>
        <li ui-sref-active="current-menu-item"><a ng-click="methods.closeMenu()" ui-sref="root.shop" ng-bind="text[locale].shop">Shop</a></li>
        <li ui-sref-active="current-menu-item"><a ng-click="methods.closeMenu()" ui-sref="root.gallery" ng-bind="text[locale].gallery">Gallery</a></li>
        <li ui-sref-active="current-menu-item"><a ng-click="methods.closeMenu()" ui-sref="root.about" ng-bind="text[locale].about">About</a></li>
        <li ui-sref-active="current-menu-item"><a ng-click="methods.closeMenu()" ui-sref="root.contact" ng-bind="text[locale].contacts">Contacts</a></li>
        <li ui-sref-active="current-menu-item"><a ng-click="methods.closeMenu()" ui-sref="root.faq" ng-bind="text[locale].faq">FAQ</a></li>
    </ul><!-- .menu -->
</nav><!-- .main-navigation -->
